<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Oct 31 2013 20:33:21 GMT+0000 (UTC) -->
<html data-wf-site="52523db1f2baaff426000119">
  <head>
    <meta charset="utf-8">
    <title>El techo apalabrado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/eltecho.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Ubuntu:300,400,500,700","Inconsolata:400,700"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script type="text/javascript" src="js/webflow.js" defer></script>
  </head>
  <body>
    <div class="header-container">
      <center>
        <a href="/" class="header_center">
          <img src="/images/elTechov2full.png" alt="El techo apalabrado">
        </a>
      </center>
    </div>
    <div class="social-container">
      <div class="div_social">
        <a class="w-inline-block menu" href="https://twitter.com/medied" target="_blank">
          <img class="menu_image" src="images/twitter.png" alt="twitter.png">
        </a>
      </div>
      <div class="div_social">
        <a class="w-inline-block menu" href="https://www.goodreads.com/medied" target="_blank">
          <img class="menu_image" src="images/icon_goodreads_01.png" alt="icon_goodreads_01.png">
        </a>
      </div>
      <div>
        <a class="w-inline-block menu" href="/acerca">
          <img class="menu_image" src="/images/techoThumb.png" alt="eta">
        </a>
      </div>
    </div>  
    <div class="w-row row_main">
      <div class="front_render">
        <div class="w-container front_render_c">
          <h4>
            <br>
            <br>
            <p>
              <center>
                <em>Ideas que llegan al orificio, al techo, y salen a la luz con una enorme violencia.</em>
              </center>
            </p>
            <br>
            <br>
            <p>
              En la década de los sesenta nació fuera de Venezuela un movimiento cultural, literario y artístico, conocido como El Techo de la Ballena, con la premisa de despertar lo dormido, desorientar lo aparentemente despierto, revolver en la inquietud, arrancar conciencias y destripar lo sólido. Estuvo conformado de un grupo de escritores y artistas, y reunió elementos de ácido humor, crítica y opinión contestataria, literatura expresada en prosa, poesía sorpresiva y libre, fotografías de carácter, y en fin, una conjunción de elementos materiales e ideológicos que utilizó estéticamente con una finalidad bastante concreta, perfilada hacia una protesta social y política.
            </p>
            <br>
            <br>
            <div class="border">
              <center><img src="/images/acercadeti.jpg" alt="Dolores"></center>
            </div>

            <br>
            <br>
            <p>
              Mi nombre es Eduardo y <em>El techo apalabrado</em> es mi rincón digital para rendirle homenaje a las palabras e ideas. Soy parte de la diáspora venezolana, y a pesar de estar fuera del país tengo a Venezuela en mente. Quiero aprender, quiero pensar, quiero enseñar, y quiero hacer. Actualmente resido en California y paso los días en <a href="https://udacity.com">Udacity</a> haciendo de la educación un medio de superación.
            </p>
            <br>
            <br>
            <p>
              Me puedes contactar a través de <em>techoapalabrado@gmail.com</em>. 
            </p>
            <br>
            <br>
          </h4>
        </div> 
      </div>
    </div>
  </body>
</html>