<div class="post">
  <div class="post-heading">
    <div class="border">
      <div class="post-image">
        {{p.image | safe}}
      </div>
    </div>
    <div class="post-title">
      <h1>
        <a href="/{{p.key().name()}}">{{p.subject | safe}}</a>
      </h1>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  
  <div class="post-content">
    <h4>
      {{p._render_text | safe}}
    </h4>
    <div class="post-comments">
      <h5>
        <em><a href="mailto:techoapalabrado@gmail.comentarios" style="color:#999">Manda tus comentarios al techoapalabrado@gmail.com</a></em>
      </h5>
    </div>
  </div>
</div>
